<ng-container *ngIf="isLoading == true; else noLoad">
  <app-loading-page></app-loading-page>
</ng-container>
<ng-template #noLoad>
  <section class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="form-wrap">
            <h2 class="mb-4">Log in with your account</h2>
            <form #loginForm=ngForm (ngSubmit)="login()">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" [(ngModel)]="form.username" class="form-control py-2"
                    required autofocus>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-12 form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" [(ngModel)]="form.password" class="form-control py-2"
                    required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Login" class="btn btn-primary px-5 py-2" [disabled]="loginForm.invalid">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>