.form-control{
    border-radius: 0.25rem;
}
tab{
    border-bottom: solid 1px #dee2e6;
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
}
.list-group-item{
    padding: 0 0 0 30px;
    border: none;
}
